*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;

}
body{
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.about{
max-width: 55rem;
  width: 100%;

}
h1{
    color: #202020;
}
main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  
  max-width: 140rem;
  width:100%;
 
}
p{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 18px;
  
}
.divisao{
  padding: 100px;
}
.img>img{
  max-width: 55rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img{
  height: 20%;
}

@media (max-width: 768px){
  main{
    flex-direction: column;
  }

}